<h1>Hi <%= farmer.firstname + ' ' + farmer.lastname %></h1>

<div>
  <h3>pfp Image:</h3>
  <img src="/<%= farmer.pfp_img_path %>" alt="pfp_img" width="200" height="125">
  <h3>nid Image:</h3>
  <img src="/<%= farmer.nid_img_path %>" alt="nid_img" width="200" height="125">
</div>

<div>
  <form action="/farmer/logout" method="POST">
    <button type="submit">Log Out</button>
  </form>

  <form action="/farmer/delete" method="POST">
    <button type="submit">Delete</button>
  </form>

  <form action="/farmer/update" method="GET">
    <button type="submit">Edit</button>
  </form>

  <form action="/farmer/store/add" method="GET">
    <button type="submit">Add Store</button>
  </form>
</div>

<% for(let i = 0; i < stores.length; i++){ %>
  <div>
    <h3><%= i %>. Name:<%= stores[i].store_name %>  Rating:<%= stores[i].rating %> Open:<%= stores[i].is_open %></h3>
    <form action="/farmer/store/<%= stores[i].storeId %>" method="GET">
      <img src="<%= stores[i].cover_img_path %>" alt="cover image" width="200" height="125">
      <button type="submit">Check</button>
    </form>
    <hr>
  </div>
<% } %>