<h1>Edit Product</h1>
<form action="/farmer/store/<%= store.storeId %>/product/<%= product.productId %>/update" method="POST" enctype="multipart/form-data">

  
  <input type="text" name="store_name" value="<%= store.store_name %>" hidden>

  <div>
    <label for="productName">product name</label>
    <input type="text" id="product_name" name="productName" value="<%= product.productName %>" required>
  </div>

  <div>
    <label for="fruits">fruits</label>
    <input type="radio" id="fruits" name="category" value="fruits" <% if(product.category == 'fruits'){ %> <%= 'checked' %> <% } %> >

    <label for="vegetables">vegetables</label>
    <input type="radio" id="vegetables" name="category" value="vegetables" <% if(product.category == 'vegetables'){ %> <%= 'checked' %> <% } %> >

    <label for="herbs">herbs</label>
    <input type="radio" id="herbs" name="category" value="herbs" <% if(product.category == 'herbs'){ %> <%= 'checked' %> <% } %> >

    <label for="dairy">dairy</label>
    <input type="radio" id="dairy" name="category" value="dairy" <% if(product.category == 'dairy'){ %> <%= 'checked' %> <% } %> >

    <label for="poultry">poultry</label>
    <input type="radio" id="poultry" name="category" value="poultry" <% if(product.category == 'poultry'){ %> <%= 'checked' %> <% } %> >

    <label for="seafood">seafood</label>
    <input type="radio" id="seafood" name="category" value="seafood" <% if(product.category == 'seafood'){ %> <%= 'checked' %> <% } %> >

    <label for="red meat">red meat</label>
    <input type="radio" id="red meat" name="category" value="red meat" <% if(product.category == 'red meat'){ %> <%= 'checked' %> <% } %> >

    <label for="fish">fish</label>
    <input type="radio" id="fish" name="category" value="fish" <% if(product.category == 'fish'){ %> <%= 'checked' %> <% } %> >

    <label for="grains">grains</label>
    <input type="radio" id="grains" name="category" value="grains" <% if(product.category == 'grains'){ %> <%= 'checked' %> <% } %> >

    <label for="condiments">condiments</label>
    <input type="radio" id="condiments" name="category" value="condiments" <% if(product.category == 'condiments'){ %> <%= 'checked' %> <% } %> >

    <label for="spices & seasonings">Female</label>
    <input type="radio" id="spices & seasonings" name="category" value="spices & seasonings" <% if(product.category == 'spices & condiments'){ %> <%= 'checked' %> <% } %> >

    <label for="miscellaneous">miscellaneous</label>
    <input type="radio" id="miscellaneous" name="category" value="miscellaneous" <% if(product.category == 'miscellaneous'){ %> <%= 'checked' %> <% } %> >
  </div>

  <div>
    <label for="description">description</label>
    <textarea id="description" name="description"><%= product.description %></textarea>
  </div>
  
  <div>
    <label for="price">price</label>
    <input type="number" id="price" name="price" value="<%= product.price %>" required>
  </div>

  <div>
    <label for="thumbnailImg">thumbnailImg</label>
    <input type="file" id="thumbnailImg" name="thumbnail" required>
  </div>

  <!--
  <input type="text" name="storeId" value=<%= store.storeId %> hidden>
  -->

  <button type="submit">Confirm</button>
</form>
<a href="/farmer/store/<%= store.storeId %>">Cancel</a>